service: example-service

plugins:
  - serverless-mongodb-local
  - serverless-offline

provider:
  name: aws
  runtime: nodejs12.x
  region: eu-west-1
  stage: ${opt:stage, 'dev'}
  apiGateway:
    shouldStartNameWithService: true

custom:
  mongodb:
    stages:
      - 'dev'
    instance:
      dbName: MyDB
    seed:
      dataPath: ./data

functions:
  get:
    handler: api.get
    events:
      - http:
         method: GET
         path: /
