{
  "env": {
    "node": true,
    "jest": true
  },
  "extends": "airbnb-base",
  "rules": {
    "comma-dangle": ["error", "never"],
    "no-use-before-define": ["off"],
    "no-unused-vars": ["warn"],
    "import/no-extraneous-dependencies": ["error", {"devDependencies": ["**/*.test.js", "**/*.spec.js", "**/example/*.js"]}]
  }
}
